<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <div class ="header">
        <nav class="nav-bar">
            <ul class="nav-bar-ul">
                <li><a href='/'>Home Page</a></li>
                <li><a href='/gallery'>About</a></li> 
                <li><a href='/works'>Works</a></li>
                <li><a href='/gallery'>Gallery</a></li>
            </ul>
        </nav>


    </div>
    
    <div class="about-section">
        <img id="michelle-obama5" src="/images/michelle-obama5.png" alt="Michelle Obama" />
        

        <div class="service-box">
            <h2 class="header2">About</h2>

            <p>Michelle LaVaughn Robinson Obama (née Robinson; born January 17, 1964) is an American attorney and author who was the First Lady of the United States from 2009 to 2017.<br> 
                She is married to the 44th president of the United States, Barack Obama, and was the first African-American First Lady.</p>
            
            <p>Raised on the South Side of Chicago, Illinois, Obama is a graduate of Princeton University and Harvard Law School. <br>
                In her early legal career, she worked at the law firm Sidley Austin where she met Barack Obama.<br>
                She subsequently worked in non-profits and as the associate dean of Student Services at the University 
                of Chicago as well as the vice president for Community and External Affairs of the University of Chicago Medical Center. <br>
                Michelle married Barack in 1992, and they have two daughters.</p>    
            <p>Obama campaigned for her husband's presidential bid throughout 2007 and 2008, delivering a keynote address at the 2008 Democratic National Convention. <br>
                She has subsequently delivered acclaimed speeches at the 2012, 2016, and 2020 conventions.</p>
                
            <p>As first lady, Obama served as a role model for women and worked as an advocate for poverty awareness, education, nutrition, physical activity, and healthy eating.<br> 
                She supported American designers and was considered a fashion icon.</p>
                
                
        </div>

    </div>
</body>
</html>