<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
</head>
<body>
   
    <div class="container">
        <div class="box">
          <img src="/images/michelle-obama1.jpg">
          <img src="/images/michelle-obama2.jpg">
          <img src="/images/michelle-obama3.jpg">
          <img src="/images/michelle-obama4.jpg">
         
        </div>
        <div class="box">
          <img src="/images/obama-family1.jpg">
          <img src="/images/obama-family2.jpg">
          <img src="/images/obama-family3.jpg">
        </div>
        <div class="box">
            <img src="/images/michelle-obama1.jpg">
            <img src="/images/michelle-obama2.jpg">
            <img src="/images/michelle-obama3.jpg">
            <img src="/images/michelle-obama4.jpg">
           
          </div>
          <div class="box">
            <img src="/images/obama-family1.jpg">
            <img src="/images/obama-family2.jpg">
            <img src="/images/obama-family3.jpg">
          </div>
    </div>
    
</body>
</html>